<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.name -%}
              {{ site.name | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {%- if site.github_username -%}
          <li>
            <a href="https://github.com/{{ site.github_username | cgi_escape | escape }}">
              <span class="username">{{ site.github_username | escape }}</span>
            </a>
          </li>
          {%- endif -%}
          {%- if site.twitter_username -%}
          <li>
            <a href="https://www.twitter.com/{{ site.twitter_username | cgi_escape | escape }}">
              <span class="username">{{ site.twitter_username | escape }}</span>
            </a>
          </li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
  </div>
</footer>